<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">Events Organiser</a>
    <div class="nav navbar-nav">

        <form class="form-inline float-xs-left" ng-if="$ctrl.authenticated">
            <button class="btn btn-primary" type="button" ng-click="home.newEvent()">
                Add event
            </button>
        </form>

        <a class="nav-item nav-link float-xs-right" href="/login/google" ng-if="!$ctrl.authenticated">
            Login with Google
        </a>

        <div class="nav-item dropdown float-xs-right" ng-if="$ctrl.authenticated">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
                Logged in as {{$ctrl.user}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" ng-click="home.logout()">Logout</a>
            </div>
        </div>
    </div>
</nav>