<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>

    <link type="text/css" rel="stylesheet" href="css/main.css">

    <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <script type="application/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="application/javascript" src="bower_components/tether/dist/js/tether.js"></script>
    <script type="application/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="application/javascript" src="bower_components/angular/angular.js"></script>
    <script type="application/javascript" src="bower_components/lodash/lodash.js"></script>
    <script type="application/javascript" src="scripts/app.js"></script>
</head>
<body ng-app="app" ng-controller="home as home">

<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">Events Organiser</a>
    <div class="nav navbar-nav">

        <form class="form-inline float-xs-left" ng-if="home.authenticated">
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addEventModal">
                Add event
            </button>
        </form>

        <a class="nav-item nav-link float-xs-right" href="/login/google" ng-if="!home.authenticated">Login with
            Google</a>

        <div class="nav-item dropdown float-xs-right" ng-if="home.authenticated">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
                Logged in as {{home.user}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" ng-click="home.logout()" ng-if="home.authenticated">Logout</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid" ng-show="home.authenticated">
    <div class="scroll-container">
        <div class="card-deck-wrapper card-deck">
            <div class="card fixed-width" ng-repeat="event in home.events">
                <div class="card-header">
                    <h4 class="card-title">{{event.name}}</h4>
                </div>
                <div class="card-block text-xs-center">
                    <span>
                        Invite:
                        <select ng-model="home.invite[event.id]"
                                ng-options="person.name for person in home.peopleNotInEvent(event)"
                                name="new-user">
                        </select>
                        <button type="button" class="btn btn-sm btn-primary"
                                ng-click="home.invitePerson(event.id)">+</button>
                    </span>
                </div>
                <div class="card-block">
                    <div ng-repeat="(key, value) in event.responses">
                        <h4 class="text-capitalize text-muted">
                             {{key}} ({{value.count || 0}} people)
                        </h4>
                        <div class="list-group">
                            <div class="list-group-item" ng-repeat="person in value.people">{{person.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="addEventModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addEventModalTitle">Modal title</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="eventName">Event name</label>
                        <input type="text" class="form-control" id="eventName" placeholder="Enter name" ng-model="home.newEventName">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="home.addEvent()">Add</button>
            </div>
        </div>
    </div>
</div>

</body>


</html>