<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>

    <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <script type="application/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="application/javascript" src="bower_components/tether/dist/js/tether.js"></script>
    <script type="application/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="application/javascript" src="bower_components/angular/angular.js"></script>
    <script type="application/javascript" src="bower_components/lodash/lodash.js"></script>
    <script type="application/javascript" src="scripts/app.js"></script>
</head>
<body ng-app="app" ng-controller="home as home">

<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">Events Organiser</a>
    <div class="nav navbar-nav">

        <a class="nav-item nav-link float-xs-right" href="/login/google" ng-if="!home.authenticated">Login with
            Google</a>

        <div class="nav-item dropdown float-xs-right" ng-if="home.authenticated">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
                Logged in as {{home.user}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" ng-click="home.logout()" ng-if="home.authenticated">Logout</a>
            </div>
        </div>
    </div>
</nav>

<div class="container" ng-show="home.authenticated">
    <div class="card-columns">
        <div class="card" ng-repeat="event in home.events">
            <div class="card-block">
                <h4 class="card-title">{{event.name}}</h4>
                <ul class="card-text list-unstyled">
                    <li ng-repeat="person in event.invitations">{{person.name}}: {{person.response}}</li>
                    <li>
                        <select ng-model="home.invite[event.id]"
                                ng-options="person.name for person in home.peopleNotInEvent(event)"
                                name="new-user">
                        </select>
                        <span ng-click="home.invitePerson(event.id)">+</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>


</html>